form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

textarea {
    min-height: 90px;
    resize: vertical;
}

form button {
    margin-top: 25px;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}